@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}



body {
margin: 0;
padding: 0;
overflow-x: hidden;
}

header {
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}


.photo1 {
  width: 160px;
  height: 30px;
  justify-content: center;
  margin-top: 25px;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
	width: 70%;
	display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 120px;
	height: 80px;
	background-color: #94a5d6;
}

.links {
  gap: 15px;
  display: flex;
  justify-content: space-between;
  
}


nav ul li {
  display: inline-block;
  line-height: 52px;
  margin: 0 5px;
  gap: 10px;
}
nav ul li a {
color: white;
font-size: 17px;
text-transform: uppercase;
gap:
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}




section.web-container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}




.heroContainer {
  
  height: 100vh;
  width: 100%;
  background-image: url("../images/banner-bg.png"); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;
}

.web-content {
  margin: 120px;
  padding: 80px;
  width: 1400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.row {
  text-align: center;
  color: #fff;
}

.titulli {
  font-weight: 500;
  font-size: 60px;
  line-height: 50px;
  letter-spacing: 1.4px;
}

.diskover {
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #5076dd;
  color: #fff;
  margin-top: -210px;
}
.diskover:hover {
  background-color: rgb(85, 38, 38);
}

.legend-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-top: -150px;
}

.legend-content{
  width: 1400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 35px;
  margin-top: -180px;
}
  


.row {
    display: block;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.left-web{
    width: 70%;
    height: auto;
    display: block;
    background: #fff;
    box-shadow: rgba(214, 173, 173, 0.863) 0px 5px 15px;
    border-radius: 20px;
    margin: 40px;
    padding: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.icon {
  cursor: pointer;
  width: 90px;
  height: 90px;
  line-height: 120px;
  margin: auto;
  position: relative;
  margin-bottom: -15px;
  background: #8261ee;
  border-radius: 50%;
}

.icon:hover {
  background-color: rgb(85, 38, 38);
}


.middle-web {
  width: 70%;
  height: auto;
  display: block;
  background: #fff;
  box-shadow: rgba(214, 173, 173, 0.863) 0px 5px 15px;
  border-radius: 20px;
  margin: 40px;
  padding: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  
}

.right-web { 
  width: 70%;
  height: auto;
  display: block;
  background: #fff;
  box-shadow: rgba(214, 173, 173, 0.863) 0px 5px 15px;
  border-radius: 20px;
  margin: 40px;
  padding: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.web-title {
    font-weight: 500;
    font-size: 25px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.about-main {
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mainabout {
  display: flex;
  justify-content: center;
  margin-top: -150px;
}

.foto-left {
  padding: 115px; 
}

.main1 {
  padding: 80px;
}

.second-main {
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
} 
.secondmain{
  display: flex;
  justify-content: center;
  margin-top: -150px;
}

.foto-right{
  padding: 115px; 
}


  
.main23 {
  width: auto;
  padding: 80px;
}

.thirdmain {
  background-image: url(../images/work-process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  position: cover;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main3 {
  color: #fff;
  padding: 100px;
  margin-top: -150px;
  text-align: center;
  }

  .row1 {
    background-color: white;
    padding: 20px;
    margin: 10px;
    height: 185px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 0px -2px rgba(188,207,225,1);
    }

.row1 p {
    margin-top: 15px;
    text-align: center;
  }
.row1 i {
margin-top: 15px;
}

.row-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.row1:hover{
margin-top: -20px;
transition: 0.3s ease-all;
}


.fourthmain {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.fourth-main {
  width: 1400px;
  display: flex;
  justify-content: center;
}

.main4 {
  color: rgb(85, 38, 38);
  padding: 100px;
  text-align: center;
}

.row-box2 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.row2 {
  background-color: white;
  padding: 173px;
  margin: 50px;
  margin-left: 120px;
  height: 515px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 5px #CECECE;
}

.klasa1 {
  color: #fff;
  text-align: center;
  padding: 40px 100px;
  background: #8261ee;
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 20px;
}


.ul {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
}

.list{
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  align-items: center;
  
}

.list li{
  margin-bottom: 15px;
  text-decoration: line-through;
  list-style: none;
}

.active{
  text-decoration: none !important;
}



.teksti {
  height: 47px;
  font-weight: 500;
  font-size: 32px;
}

.stronk {
  color: black;
  margin-top: -63px;
}

.butoni {
  width: 200px;
  font-weight: bolder;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #5076dd;
  color: #fff;
}

.butoni:hover {
  background-color: rgb(85, 38, 38);
}

footer {
  width: 100%;
  height: 100px;
  background-color:  #5076dd;;
  }

  .copyright {
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.2);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }

  .clients {
    height: 450px;
    width: 100%;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../images/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .clients-content{
    height: 100%;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .client-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .client-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .client-div h3{
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

.client-div:hover {
margin-top: -20px;
transition: 0.3s ease-all;
}

  #span-title{
    font-size: 1.2rem;
    margin-top: -20px;
    color: white;
  }

  .fivethmain {
    display: flex;
    justify-content: center;
  }
  
.five-main {
  width: 1140px;
}

.main1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main2 {
  width: 200px;
  height: 300px;
  margin-top: -25px;
}

.main5 {
display: flex;
justify-content: flex-end;
flex-direction: row;
text-align: center;
margin-top: -293px
}



.input-form {
  width: 400px;
  color: #777;
  font-size: 14px;
  border: 1px solid rgb(223, 210, 210);
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.main6 {
display: flex;
justify-content: flex-end;
flex-direction: row;
text-align: center;
marigin-top: 20px;
}

.tekst3 {
  width: 70%;
  color: #777;
  font-size: 14px;
  border: 1px solid rgb(223, 210, 210);
  height: 150px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 20px;
  resize: none;
}


.main7 {
display: flex;
justify-content: center;
flex-direction: row;
}

.btn {
  cursor: pointer;
  width: 130px;
  height: 35px;
  margin-right: 320px;
  margin-top: 20px;
  background-color: #5076dd;
  border-radius: 10px;
  color: #fff;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: rgb(85, 38, 38);
}

footer {
  width: 100%;
  height: 120px;
  margin-top: 70px;
  
}

.socials {
  display: flex;
  justify-content: center;
}

.socials ul li {
  list-style: none;
}


.futer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
    width: 40%;
    text-align: center;
    border-top: 1px solid rgba(192, 179, 179, 0.945);
    margin-top: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}

li a i { 
  margin: 10px;
  color: #fff;
}
.show-menu {
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
input[type=checkbox]{
  display: none;
}

@media only screen and (max-width: 600px) {

  .headerContainer{
    width: 100%;
    height: auto;
  }
  nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
  nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
  nav .icon-burger {
		display: block;
	}
 
  .heroContainer{
    width: 100%;
    height: auto;

  }

  .web-content{
    width: 100%;
  }

  .legend-container{
    width: 100%;
    margin: 0;
    height: auto;
  }

  .legend-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .row{
    margin-top: -120px;
  }

  .mainabout{
    width: 100%;
  }

  .about-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
  }

  .secondmain{
    width: 100%;
  }

  .second-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
  }


  .thirdmain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }

  .third-main{
    width: 100%;
    height: auto;
  }

  .main3{
    width: 100%;
  }

  .row-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
  }

  .row1{
    width: 100%;
  }

  .fourthmain{
    width: 100%;
  }

  .fourth-main{
    width: 100%;
  }

  .row-box2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .row2{
    width: 80%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }

  .clients {
    width: 100%;
    padding: 5px;
  } 
  .fivethmain {
    width: 100%;
  }
  .main2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main1,.main2{
    width: 100%;
    height: auto;
    margin: auto;
    justify-content:space-around;
    padding: 50px 50px 50px 50px;
    text-align: center;
}

  .main6, .main5 {
    width: 100%;
    margin-top: 0;
    justify-content:space-around;
    padding:0px 50px 0px 50px;
    text-align: start;
    
  }
  .input-form,.tekst3 {
    width: 100%;
    margin: 5px;
  }
  .btn{
    margin: 0;
  }
  .copyright{
    width: 100%;
  }
  .foto-left, .foto-right {
    padding: 0;
}
.secondmain, .mainabout{
  margin:0px;
}
.clients-content {
  width:100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.clients {
  height: auto;
}
}


  
  
  
